<div>
  <form method="GET" action="" id="message_form">
    <input type="text" id="textfield" name="textfield" />
    <input type="submit" value="send" />
  </form>
</div>
<div>
  <dl id="messages" />
</div>
