* {
    font-family: sans-serif;
}

span.username {
    color: #0000FF;
}
input#textfield {
    width: 450px;
}
dt {
    font-size: small;
    color: #808080;
    padding-top: 10px;
}
dd span.message {
    padding-left: 10px;
}
span.announce {
    color: #806040;
}

@media screen and (max-device-width: 480px) {
    input#textfield {
        width: 300px;
    }
}
